.fc-slot0 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot2 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot4 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot6 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot8 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot10 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot12 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot14 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot16 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot18 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot20 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot22 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot24 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot26 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot28 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot30 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot32 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot34 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot36 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot38 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot40 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot42 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot44 .fc-agenda-axis {
    visibility: hidden;
}
.fc-slot46 .fc-agenda-axis {
    visibility: hidden;
}
